.main {
  /* height: 80%; */
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.sec_main {
  height: 80%;
  width: 80%;
  /* background-color: black; */
}

h3 {
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
}

.btn {
    color: white;
    font-weight: bold;
  background-color: blue;
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.or {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: lighter;
  font-weight: bold;
  color: rgb(117, 89, 89);
}


input{
    width: 100%;
    padding: 0.3rem 0.3rem;
    margin-top: 0.15rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(240, 217, 221);
    background-color:  rgb(247, 244, 244);
}